/* originally Added by Raymii */
body {
  margin:0;
  padding:0;
  color:#000;
  background:#efefef repeat center top;
  font:normal 0.9em/150% "Trebuchet MS", arial, verdana, sans-serif;
  text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

strong {
  background: #fff; /* counter strange color-choice of kickstart.css */
}

#wrap {
  width:1200px;/*960*/
  background:#fff;
  margin:30px auto 30px auto;
  border:1px solid #ccc;
}
