AddCharset UTF-8 .html .css .php .txt .js .json

<ifmodule mod_deflate.c>
  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png|json)$" no-gzip
</ifmodule>

<IfModule mod_headers.c>
    # Serve gzip compressed JS files if they exist
    # and the client accepts gzip.
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.json" "$1\.json\.gz" [QSA]


    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule "\.json\.gz$" "-" [T=application/json,E=no-gzip:1]


    <FilesMatch "(\.json\.gz)$">
      # Serve correct encoding type.
      Header append Content-Encoding gzip

      # Force proxies to cache gzipped &
      # non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
  <Files "*.json.gz">
    ForceType application/json
  </Files>
</IfModule>
